.fancybox-resume-info {
  width: 60%;
  display: inline-block;
}

.resume-info-details-section {
  margin-bottom: 20px;
}

.resume-info-details-section-double {
  display: inline-block;
}

.resume-info-details-section-double {
  display: inline-block;
}

.when-section {
  margin-right: 100px;
}

.resume-info-details-title {
  display: block;
  font-size: 15px;
  font-family: "Nunito-bold";
}

.resume-info-details-value {
  display: block;
  font-size: 18px;
}

.resume-info-details-secondary-value {
  width: 65%;
  display: block;
  font-size: 15px;
  font-family: "Nunito-thin";
}
