.fancybox-resume-info {
  width: 60%;
  display: inline-block;
}

.resume-info-details-section-double {
  display: inline-block;
}

.resume-info-details-section-double {
  display: inline-block;
}

.when-section {
  margin-right: 100px;
}

.resume-info-details-title {
  display: block;
  font-size: 11px;
}

.resume-info-details-value {
  display: block;
}
